{
  "presets": ["env", "stage-0" , "react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@src": ["./src"]
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["require-context-hook"]
    }
  }
}
